osakeste_mudel.docx
response_modelleerimine.docx
compile
hpc_compile
presentation.pptx
figs/traj_eddy.png
figs/traj1.png
figs/traj2.png
Particle animations/all_midn.png
Particle animations/anim_quick_less.gif
Particle animations/anim_quick.gif
Particle animations/randnormtest.png
Particle animations/test_1000m_anim.gif
Particle animations/timeres_test_lo_anim.gif
./backup
update.log
code/*.mod
./.vscode
code/loop_particle.bkp.f90